/* Score.css */
.App {
    text-align: center;
    margin: 20px;
  }
  
  .scoreboard {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .scoreboard .team {
    flex: 1;
    text-align: center;
  }
  
  .score-buttons,
  .set-buttons,
  .timeout {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .timeout span {
    font-weight: bold;
    margin: 0 10px;
  }
  
  .timeout button {
    width: 100px;
  }
  